*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-ba{
    display: flex;
    width: 100%;
    background-color: rgb(54, 168, 168);
}
.menu-ba>ul{
    display: flex;
    align-items: center;
}
ul>li{
    margin: 10px;
    list-style: none;
}
li>a{
    text-decoration: none;
    padding: 10px;
}
a:hover{
    background-color: rgb(175, 102, 12);
    border-radius: 5px;
}
a:focus{
    background-color: blue;
}
table{
    margin-top: 10px;
    width: 70%;
    border-collapse: collapse;
    position: relative;
    left: 15%;
    right: 15%;
}
table>thead, th{
    border-bottom: 2px solid rgb(38, 99, 99);
    margin: 0;
    padding: 10px;
    font-weight: bolder;
    color: rgb(49, 148, 115);
}
td{
    border-bottom: 0.5px solid rgb(39, 39, 38);
    margin: 0;
    padding: 10px;
}
tfoot{
    border-bottom: 1px solid rgb(61, 64, 65);
}