<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style1.css">
    
</head>
<body>
    <!-- contian at all form  -->
    <div class="contianer">
        <!-- sidebar left for contain form -->
        <div class="form-left">
            <div class="title white-1">
                <h3>Let's get in touch</h3>
                <p class="describ white">We're open for any suggesstion or just to have a chat</p>
            </div>
            
            <form>
                <div class="form-groupn col-text">
                    <a href="" class="icon"><i class="fa fa-map-marker"></i></a>
                    <p class="text white">Address:198 West 21th Street,Sute 721 new York NY 10016</a></p>
                </div>
                <div class="form-group col-text">
                    <a href="" class="icon"><i class="fa fa-phone"></i></a>
                    <p class="text white">Phone +1235235598</p>
                </div>
                <div class="form-group col-text">
                    <a href="" class="icon"><i class="fa fa-send-o"></i></a>
                    <p class="text white">Email: incam@sack.com</p>
                </div>
                <div class="form-group col-text">
                    <a href="" class="icon"><i class="fa fa-globe"></i></a>
                    <p class="text white">Website yoursite.com</p>
                </div>                
            </form>
        </div>
        <!-- sidebar right for contain form  -->
        <div class="form-right">
            <div class="title"><h3>Get in touch</h3></div>
            <form>
                <div class="form-group input-infor">
                    <div class="infor">
                        <label class="label">FULL NAME</label>
                        <input type="text" placeholder="Name" class="form-control">
                    </div>
                    <div class="infor">
                        <label class="label">EMAIL ADDRESS</label>
                        <input type="email" placeholder="Email" class="form-control">
                    </div>                      
                </div>
                <div class="form-group">
                    <label class="label">SUBJECT</label>
                    <input type="text" placeholder="Subject" class="form-control">
                </div>
                <div class="form-group">
                    <label class="label">MESSAGE</label>
                    <textarea name="" id=""  rows="3" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn white">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>