*
{
    margin: 0;
    padding: 0;
}

.container-tab
{
 width: 90%;
 margin: auto;
 padding: 20px 30px;
 background-color: rgb(101, 101, 247);
}
table{
    width: 100%;
    border-spacing: 0;
    text-align: center;
    background-color: white;
}
table>thead>tr>td
{
    background-color: rgb(53, 65, 92);
    color: white;
}
table>thead>tr>td>div
{
    background-color: rgb(78, 223, 174);
}
td>div{
    background-color: rgb(204, 227, 250);
    border: 0 solid;
}
