<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style2.css">
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
</head>
<body>
    <div class="form-contianer raduis-left">      
        <div class="form">
            <form >
                <h3>Login</h3>
                <div class="logo">
                    <a href="" class="media"><i class="fa fa-facebook"></i></a>
                    <a href="" class="media"><i class="fa fa-twitter"></i></a>
                </div>
                <div class="form-group">
                    <p class="user-account">or user your account</p>
                    <input type="email" placeholder="Email"  required class="form-control">
                </div>         
                <div class="form-group">
                    <input type="password" placeholder="Password"  required class="form-control">
                </div>
                <div class="form-group">
                    <p><a href="" class="for-got">Forgot your password?</a></p>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login"  class="form-control orange btn">
                </div>
            </form>
        </div>
    </div>
    <div class="form-contianer red-show raduis-right">      
        <div class="content">
            <h2>HTML CSS Login Form</h2>   
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus veritatis reprehenderit minus atque iure tempora?
            </p>
        </div>
    </div>
    
</body>
</html>