<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/cpen.css">
</head>
<body>
    <nav class="orage">
        <ul class="navbar nav-item ">
            <li><a href="component.html" class="nav-link">Home</a></li>
            <li><a href="about.html" class="nav-link">About</a></li>
            <li><a href="" class="nav-link">Link</a></li>
            <li><a href="" class="nav-link">Liink</a></li>
        </ul>
    </nav>
    <div class="contianer">

        <!-- column componet full on screen is 12 column  -->
        <div class="row">
            <div class="col col-12">
                <h1>ខ្ងំុស្រឡាញ់កម្ពុជា</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, repudiandae?</p>
            </div>
        </div>

        <!-- column break 2 to betweent column component on screen  -->

        <div class="row">
            <div class="col col-6">
                <h1>Box1</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, repudiandae?</p>
            </div>
            <div class="col col-6">
                <h1>Box1</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, maxime.</p>
            </div>
        </div>

        <!-- break column to 3 column component -->

        <div class="row">
            <div class="col col-4">
                <h1>Box1</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, repudiandae?</p>
            </div>
            <div class="col col-4">
                <h1>Box1</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, maxime.</p>
            </div>
            <div class="col col-4">
                <h1>Box1</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, autem.</p>
            </div>
        </div>

        <!-- break column to 4 column component -->

        <div class="row">
            <div class="col col-3">
                <h1>Box1</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, repudiandae?</p>
            </div>
            <div class="col col-3">
                <h1>Box1</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, maxime.</p>
            </div>
            <div class="col col-3">
                <h1>Box1</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, autem.</p>
            </div>
            <div class="col col-3">
                <h1>Box1</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, autem.</p>
            </div>
        </div>
    </div>
</body>
</html>

