
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <button class="btn btn-teal">Button</button>
    <button class="btn btn-green">My Button active</button>
    <button class="btn btn-orage">Button</button>

    <!-- Table management on style table with any class in table -->
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Class</th>
                <th>Place</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>Bopha</td>
                <td>2022 WEB A</td>
                <td>BonteayMeanchey</td>
            </tr>
            <tr>
                <td>02</td>
                <td>Bopha</td>
                <td>2022 WEB A</td>
                <td>BonteayMeanchey</td>
            </tr>
            <tr>
                <td>03</td>
                <td>Bopha</td>
                <td>2022 WEB A</td>
                <td>BonteayMeanchey</td>
            </tr>
            <tr>
                <td>04</td>
                <td>Bopha</td>
                <td>2022 WEB A</td>
                <td>BonteayMeanchey</td>
            </tr>
            <tr>
                <td>05</td>
                <td>Veang</td>
                <td>2022 WEB A</td>
                <td>RothanakKiry</td>
            </tr>
            <tr>
                <td>06</td>
                <td>Veang</td>
                <td>2022 WEB A</td>
                <td>RothanakKiry</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>07</td>
                <td>Veang</td>
                <td>2022 WEB A</td>
                <td>RothanakKiry</td>
            </tr>
        </tfoot>
    </table>

    <!-- Mange link style propety -->
    <nav class="nav-green">
        <ul class="navbar text-upper">
            <li class="nav-item"><a class="nav-link" href="">link 1</a></li>
            <li class="nav-item"><a class="nav-link" href="">link 2</a></li>
            <li class="nav-item"><a class="nav-link" href="">link 3</a></li>
            <li class="nav-item"><a class="nav-link" href="">link 4</a></li>
        </ul>
    </nav>
</body>
</html>